{% extends 'base.html.twig' %}

{% block title %}Edit ReceptionOlt{% endblock %}

{% block body %}
    <h1>Edit ReceptionOlt</h1>

    {{ include('reception_olt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reception_olt_index') }}">back to list</a>

    {{ include('reception_olt/_delete_form.html.twig') }}
{% endblock %}
