{% extends 'base.html.twig' %}

{% block title %}Edit CableInterBox{% endblock %}

{% block body %}
    <h1>Edit CableInterBox</h1>

    {{ include('cable_inter_box/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cable_inter_box_index') }}">back to list</a>

    {{ include('cable_inter_box/_delete_form.html.twig') }}
{% endblock %}
