<form method="post" action="{{ path('app_reception_hub_delete', {'id': reception_hub.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reception_hub.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
