{% extends 'base.html.twig' %}

{% block title %}Ajouter un ReceptionHub{% endblock %}

{% block body %}
    <a class="btn btn-secondary mb-5" href="{{ path('app_reception_hub_index') }}">Retour</a>

    {{ include('reception_hub/_form.html.twig') }}
{% endblock %}
