{% extends 'base.html.twig' %}

{% block title %}Modifier un User{% endblock %}

{% block body %}
    <a class="btn btn-secondary mb-5" href="{{ path('app_user_index') }}">Retour</a>

    {{ include('user/_form.html.twig') }}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
